.App {
  text-align: center;
}
.header > h1, h2{
  background-color: #81D6F1;
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  margin: 0px;
}

.nav-bar {
  padding: 6px 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 2em;
  border-top:3px solid #0760C8;
  border-bottom:3px solid #0760C8;
}

.articles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 1em 2em;
}

.articles-card {
  width:50vw
}

.articles-card > section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.articles-card:hover {
  box-shadow: 0 0 8px 2px rgba(0, 140, 186, 0.5);
}

.topics-list {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 1em 2em;
  padding: 0;
}

.topic-item {
  width:25vw
}

.topic-item:hover {
  box-shadow: 0 0 8px 2px rgba(0, 140, 186, 0.5);
}

.subheader {
  text-transform: capitalize;
}

.single-article {
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width:50vw
}

.single-article > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.article-body{
  text-align: justify;
}