@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.freeze-panel {
  position: fixed;
  top: 0;
  width: 100%;
}

.header > h1, h2{
  background-color: #81D6F1;
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: space-around;
  border-top:3px solid #0760C8;
  border-bottom:3px solid 
  #0760C8;
  background-color: white;
  padding: 6px 12px;
}

.nav > section {
  display: flex;
  position: fixed;
  right: 12px;
}

.nav-bar {
  padding: 12px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em 2em;
}

.nav-bar > a {
  font-size: 18px;
}

#profile_img {
  width: 45px;
  height: 45px;
  object-fit: scale-down;
  padding: 0px;
}

.routes {
  margin-top: 150px;
  padding: 15px 15px 2500px;
}

.home-page > img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.responsive {
  width: 100%;
  height: auto;
}

.articles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 1em 2em;
}

.articles-card {
  width: 50vw;
  padding: 0.5em;
}

.articles-card > section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.articles-card:hover {
  box-shadow: 0 0 8px 2px rgba(0, 140, 186, 0.5);
}

.topics-list {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 1em 2em;
  padding: 0;
}

.topic-item {
  width:25vw
}

.topic-item:hover {
  box-shadow: 0 0 8px 2px rgba(0, 140, 186, 0.5);
}

.subheader {
  text-transform: capitalize;
}

.single-article {
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width:50vw
}

.single-article > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.article-body, .comment-body {
  text-align: justify;
}

#votes {
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
}

#votes > i, span {
  margin: 1em 0.25em;
}

#votes > i {
  color: #0571ed;
}

#like {
  background: #fff;
  border: unset;
  outline: 0;
  font-size: 18px;
  cursor: pointer;
  color: #515356;
  padding: 5px 10px;
}
#like.liked {
  color: #0571ed;
}
#like.liked i{
  animation: anim 0.5s ease-in-out;
  -webkit-animation: anim 0.5s ease-in-out;
}
@keyframes anim {
  100% {
    transform: rotate(-15deg) scale(1.3);
    -webkit-transform: rotate(-15deg) scale(1.3);
    -moz-transform: rotate(-15deg) scale(1.3);
    -ms-transform: rotate(-15deg) scale(1.3);
    -o-transform: rotate(-15deg) scale(1.3);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #81D6F1;
  color: white;
  text-align: center;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width:50vw;
  margin-left: auto;
  margin-right: auto;
  gap: 2em;
  border: 3px dashed #0571ed;
  padding: 20px;
  background-color: #b8e9f8;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  border: 3px dashed #034898;
  background-color: white;
  padding: 10px;
}

.user-card > img {
  width: 10em;
  height: 10em;
  object-fit:scale-down;
}

.comment-card {
  margin-left: auto;
  margin-right: auto;
  width:50vw
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.comments-list-item {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #b8e9f8;
}

.comment-subheader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.comment-author {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.comment-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}

.comment-adder {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  width:50vw;
  gap: 0.5em;
}

#newComment {
  height: 5vw;
}

.comment-adder > button {
  align-self: flex-end;
}

.read-me-button, .enter-button, .logout-button, .login-button {
  background-color: #35bef4;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.read-me-button:hover ,.enter-button:hover, .logout-button:hover, .login-button:hover {
  background-color: #1f8fbb;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 5px 15px 0 rgba(0,0,0,0.19);
}

Link {
  scroll-behavior: smooth;
}

.sorting {
  display: flex;
  justify-content: center;
  gap: 1em
}